/* header */

head{
    color:black;
    overflow-x: hidden;
	background: white;

}
body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.nav>ul>a:hover {
    background-color: transparent;
}

.navbar {
    margin-top: 40px;
    margin-left: 30px;
    background: transparent;
    border: 0;
    
}

.navbar .navbar-brand {
    margin-top: 20px;
    background: white;
    font-size: 100px;
    font-weight: bold;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.navbar-right {
    margin-top: 20px;  
    margin-right: 30px;
}

.navbar-right>ul>a {
    color: black;
    padding-left: 100px;
    font-size: 40px;
    font-style: oblique;
}

/* homepage container */

.row {
    text-align: center;
}   

.herotext {
    padding-top: 15px;
    font-size: 50px;
    text-align: center;
}   

.row img{
    display: inline-block;
    height:70vh;
}

/*about me text*/

.col-md-6 img {
    width: 100%;
    height: auto;
    display: block;
}

.col-md-6 {
    font-size: 30px;
    font-weight: lighter;
    line-height: 32px;
    color: black;
    text-align: left;

    border-style: solid;    
    border-width: 0px;
    border-color: black;
}

/* contact me */

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid black; 
    border-style: dotted;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;
    font-size: 20px;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
        font-size: 20px;

  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color:white
    padding: 10px;

